.container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.monthsContainer {
    display: flex;
    gap: 1.5rem;
    overflow: hidden;
    width: 300px;
    justify-content: center;
}

.month {
    font-size: 1.5rem;
    transition: transform 0.5s ease, color 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
    /* Faded style */
    color: #a1a1a1;
    /* Light color for inactive months */
}

.active {
    opacity: 1;
    color: #000;
    /* Bold color for the active month */
    font-weight: bold;
}

.fadedLeft {
    transform: translateX(-100%);
    opacity: 0.3;
    /* Extra faded for left side */
}

.fadedRight {
    transform: translateX(100%);
    opacity: 0.3;
    /* Extra faded for right side */
}

.arrow {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}